<header class="col-start-1 col-end-2 row-start-1 row-end-2 p-1 md:p-2 lg:p-0">
  <nav class="flex flex-col justify-normal md:h-full md:p-4 gap-2 md:gap-10">
    <div class="text-xl md:text-2xl text-center font-bol">
      <h1>Mega Stock</h1>
    </div>
    <div class="h-auto">
      <ul class="flex md:flex-col justify-between md:justify-normal items-center md:items-start text-sm md:text-base font-medium md:gap-5 list-none">
        <a href="/api/products" class="w-full hover:bg-indigo-50 hover:text-indigo-600 group rounded-md md:p-2">
          <li class="truncate">
            Products
          </li>
        </a>
        <a href="" class="w-full hover:bg-indigo-50 hover:text-indigo-600 group rounded-md md:p-2">
          <li>
            Carts
          </li>
        </a>
        <a href="" class="w-full hover:bg-indigo-50 hover:text-indigo-600 group rounded-md md:p-2">
          <li>
            Users
          </li>
        </a>
        <a href="/api/admin" class="w-full hover:bg-indigo-50 hover:text-indigo-600 group rounded-md md:p-2">
          <li>
            Admin settings
          </li>
        </a>
      </ul>
    </div>
  </nav>
</header>